<table class="table table-striped" *ngIf="points">
    <thead>
        <tr>
          <th>Date</th>
          <th>Commune</th>
          <th>Coordonnées GPS</th>
          <th>Altitude</th>
          <th>Météo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let point of points ">
          <td>{{ point.timepoint * 1000 | date: 'dd/MM/yyyy HH:mm' }} </td>
          <td><span>🇫🇷</span>&nbsp;{{point.codepostal}}&nbsp;{{point.commune}}</td>
          <td>{{point.lat | number:'1.5-5'}}&nbsp;{{point.lng | number:'1.5-5'}}</td>
          <td>{{point.alt}}</td>
          <td>{{point.weathercode}}{{point.temperature}} <img src="assets/flags/fr.svg" width="24"></td>
        </tr>       
      </tbody> 
</table>